@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body{
  background-image: url("https://wallpaperaccess.com/full/1833588.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.content{
  margin : 100px auto;
}
.gtext{
  color: #FCF1F1;
  text-shadow: 8px 2px  #892CDC;
}
.example1{
  border: 1px solid;
  padding: 50px;
  box-shadow: 8px 15px #FCF1F1;
  box-sizing: 50%;
  font-size: 10vw;
}
@viewport{
  zoom : 1.0;
  width: extend-to-zoom;
}
p{
  text-shadow: 8px 2px  #892CDC;
  color: #FCF1F1;
  font-family: 'Syne',monospace;
  text-shadow: 25;
  text-align: center;
  padding: 10px
}
hr{
  box-shadow: 8px 8px grey;
  color: #FCF1F1;
  width: 10%;
  border-style: dotted;
  border-width: thick;
  border-bottom: none;
}
table{
  border-style: groove;
  box-shadow:8px 8px  #FCF1F1;
  margin-right: inherit;
  margin-left: inherit;
  max-width:100%;height:auto;
}
